
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

.App {
  display: flex;
}

.left-section {
  width: 75%;
}

.right-section {
  width: 25%;
}


.home {
  text-align: center;
  background-color: #f0f0f0;
  padding: 20px;
  border-radius: 8px;
}

.menu-categories {
  text-align: center;
  background-color: #f0f0f0;
  padding: 20px;
  border-radius: 8px;
}

.menu-items {
  text-align: center;
  background-color: #f0f0f0;
  padding: 20px;
  border-radius: 8px;
}

.item-details {
  text-align: center;
  background-color: #f0f0f0;
  padding: 20px;
  border-radius: 8px;
}

.cart {
  text-align: center;
  background-color: #f0f0f0;
  padding: 20px;
  border-radius: 8px;
}

.payment {
  text-align: center;
  background-color: #f0f0f0;
  padding: 20px;
  border-radius: 8px;
}

.order-confirmation {
  text-align: center;
  background-color: #f0f0f0;
  padding: 20px;
  border-radius: 8px;
}
